@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    src: url(./assets/Inter/Inter-VariableFont_opsz,wght.ttf) format('truetype');
  }
}

:root {
  --color-main:#cc3928;
  --color-dark: #111927;
  --color-bg: #fafafb;
  --color-bgII: #e5e7eb;
  --color-white: #fff;
  --color-right: #dcfce7;
  --color-icons:#6c737f;
  --color-icons-bg:#f3f4f6;
  --color-icons-border:#e6e7e9;
  --color-question-container:#f9fafb;
  --color-gradient: linear-gradient(90deg, #965af8, #cc3928);
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size: 12px;
}

.dark {
  --color-main:#cc3928;
  --color-dark: #111927;
  --color-bg: #fafafb;
  --color-bgII: #e5e7eb;
  --color-white: #fff;
  --color-right: #dcfce7;
  --color-icons:#6c737f;
  --color-icons-bg:#f3f4f6;
  --color-icons-border:#e6e7e9;
  --color-question-container:#f9fafb;
  --color-gradient: linear-gradient(90deg, #965af8, #cc3928);
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
}

